*.tar
*.tar.gz
*.zip
md5sum*
*.csv
*.png
!rulegraph.png
Tools/*.storable
.snakemake/
src/flexbar/*.txt
*.xml
*.html
*.pyc
*.done
*.pdf
snakemake_config_*
nextcloud_links.yaml
.env
rulegraph_images/
*.pptx
*.txt